*{ margin: 0px; padding: 0px; box-sizing: border-box;}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(./font/Helvetica-Oblique.ttf);
}

@font-face {
    font-family:  Arial, Helvetica, sans-serif;
    src: url(./font/Helvetica-Bold.ttf);
}

@keyframes slideinn { from { transform: translate(-1000px);}

                      to { transform: translate(0);}}


.slideinn{ animation: slideinn 2s ease-in 1 normal both;}

@keyframes slidein { from { transform: translate(-1000px);}

                      to { transform: translate(0);}}


.slidein{ animation: slidein 1s ease-in 1 normal both;}

/* .slidein{ animation-name: slidein;
         animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
         animation-fill-mode: forwards;
        
        transform: translate(-1000px);} */ 
        


header{ background-image: url(./img/pencil.jpg); text-align: center; background-position: 0px -100px;
     background-repeat: no-repeat; background-size: 100%; width: 100%; height: 100vh;
     .box{width: 40px; height: 43px; padding-right: 12px;
        background-color: black; border-radius: 9px; opacity: 50%;}
     .burger{ position: absolute; padding-right: 6px; z-index: 10;font-size: 30px;}
        h1{ font-size: 70px; font-family: Verdana, Geneva, Tahoma, sans-serif; padding-top: 200px; }
        p{ font-size: 30px; padding-top: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
    button{margin-top: 30px; color: white; background-color: #1d809f; font-size: 18px;
         padding: 14px; border: 1px solid #1d809f; border-radius: 5px; margin-bottom: 50px;}  
 .container{ display: flex; justify-content: end; font-size: 40px; 
    color: rgb(255, 255, 255); padding-right: 50px; padding-top: 20px;}

} .b:hover {transform: translateY(-10px);} #bu:hover{transform: translateY(-10px);} .burger:hover{ color: #1d809f; transform: translate(-1px);}

.hero{ padding-top: 100px; padding-bottom: 100px;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
        h2{font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;}
        p{ font-size: 17px; padding-top: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
        button{ margin-top: 30px; color: white; background-color: black; font-size: 18px;
            padding: 14px; border: 1px black; border-radius: 5px; margin-bottom: 50px;} 
}
.hero b:hover {transform: translateY(-10px);} .br:hover{transform: translateY(-10px);} 

.services{ padding-top: 100px; padding-bottom: 100px;
    background-color: #1d809f; color: white; padding-top: 50px;
    .ser{ text-align: center; padding-bottom: 20px ; padding-top: 20px;} h2{ font-size: 35px; font-family: Arial, Helvetica, sans-serif; padding-top: 2px;} 
    h3{font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;} p{ font-size: 15px; padding-top: 10px;}
     #serv{ color: rgb(218, 165, 32); padding-bottom: 10px; }
     .icons{ display: flex;justify-content: space-around; background-color:  #1d809f; padding-top: 30px; }
     .icons1{display: flex; width: 80px; height: 80px; background-color: white; justify-content: center;
    img{ width: 20px; height: 25px; display: flex;} align-items: center; border-radius: 300px;}

.offer{ column-count: 4; text-align: center; padding-top: 30px; }
p{font-size: 15px; padding-top: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.o{ padding-left: 15px;}
.r{padding-left: 5px;}
.f{padding-right: 5px;}
.m{padding-right: 5px;}
}

.scissors{ padding-top: 200px; padding-bottom: 200px;
    background-image: url(./img/scissors.jpg); background-repeat: no-repeat; 
    background-size: 100%; background-position: 0px -120px; display: flex; flex-direction: column; align-items: center; justify-content: center;
           h2{ font-size: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
           button{ margin-top: 30px; color: white; background-color: #1d809f; font-size: 18px;
            padding: 14px; border: 1px solid #1d809f; border-radius: 5px; margin-bottom: 50px;} }

.scissors b:hover {transform: translateY(-10px);} #bb:hover{transform: translateY(-10px);} 

.portfolio{ position: relative; padding-top: 30px; 
     #port{text-align: center; padding-top: 30px;} text-align: center;
    #port{ padding-bottom: 30px;} h2{ font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;} .po{ color: #d9b216;}
img{margin-left: -4px;max-width: 480px;margin-bottom: -5px; }
.offers{margin-left: 40px; margin-bottom: 40px;}
 #projects{ padding-top: 50px; font-size: medium;}
.stat{ position: absolute; bottom: 450px; left: 240px; text-align: left;
    color: white;}   h3{padding-bottom: 5px;}  
    
.ice{position: absolute; bottom: 450px; left: 720px; text-align: left;
        color: white;}   h3{padding-bottom: 5px;}

.straw{ position: absolute; bottom: 160px; left: 240px; text-align: left;
        color: white;}   h3{padding-bottom: 5px;}

.work{position: absolute; bottom: 160px; left: 720px; text-align: left;
        color: white;}   h3{padding-bottom: 5px;}
    
    #pa{ font-size: medium;}}         
    
.cta{ background-color: #1d809f; 

h2{ text-align: center; font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white; padding-top: 100px;}
.buttons{text-align: center; display: flex; column-gap: 2em; justify-content: center; align-items: center; padding-bottom: 100px;}
#b-one{  margin-top: 30px; color: black; background-color: white; font-size: 18px;
    padding: 14px; border: 1px white; border-radius: 5px; margin-bottom: 50px;} #b-one:hover {transform: translateY(-10px);}

#b-two{  margin-top: 30px; color: white; background-color: black; font-size: 18px;
    padding: 14px; border: 1px black; border-radius: 5px; margin-bottom: 50px;} 

    #b-two:hover {transform: translateY(-10px);}} 

.map{ background-position: 0px -320px;
    background-repeat: no-repeat; background-size: cover;width: 100%; }

footer{ text-align: center;}

.foot{ display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 50px; column-gap: 2em;
.ter{  width: 60px; height: 60px; border-radius: 100%; background-color: #1d809f; }
.ter img{ width: 48px;}
img{ padding-top: 15px; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;}}
.copy{padding-top: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: medium;}